.proyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proyect * {
  color: var(--letraPClaro);
}
.container {
  background: var(--fondo2);
  color: var(--letraPClaro);
}
.containerImage {
}
