body {
  --color1: black;
  --color2: rgb(86, 86, 86);
  --color3: rgb(244, 111, 111);
  --color4: rgb(113, 113, 238);
  --color5: rgb(75, 30, 75);

  --fondo: var(--color1);
  --letraH: var(--color5);
  --letraP: var(--color4);
  --menu: var(--color3);
  --botones: var(--color4);
  --destacarTexto: var(--color2);
}
html {
  scroll-behavior: smooth;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
h2 {
  margin: 2rem 0 !important;
  color: var(--letraH) !important;
}
h3 {
  color: var(--letraH);
  margin: 1.5rem 0 !important;
}
p {
  margin: 1.5rem 0 !important;
  color: var(--letraP);
}
img {
  z-index: 1;
}
strong {
  color: var(--destacarTexto);
}

@media (min-width: 768px) {
}
