.footer {
  bottom: 0;
  width: 100%;
}

.footer__container {
  display: flex;
  padding: 1rem;
  background-color: var(--footer);
  margin: 0 !important;
}
.footer__container__logo {
  position: relative;
  width: 200;
  height: auto;
  aspect-ratio: 16/9;
}
.footer__container__links {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}
.menu {
  flex-direction: column !important;
}
.footer__container__links_menu {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  fill: var(--footer);
}
.footer__container__links_menu * {
  fill: var(--footer);
}
.logo {
  margin: 0;
}

@media (max-width < 768px) {
  .footer__container__logo {
    display: none;
  }
}
