.navbar {
  background-color: gray;
  flex-direction: column !important;
  height: 100%;
  position: fixed !important;
  text-align: center;
  z-index: 2;
}
.navbar:hover {
}
@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.navbar:hover .text {
  display: flex;
  align-items: center;
  animation: slideIn ease 0.5s;
  transition: all 2s ease;
}

.menuContainer {
  flex-direction: column;
}
.menu {
  flex-direction: column !important;
}
.link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
}
.link:hover {
  background-color: var(--botones);
  color: var(--letra);
}

.logo {
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
.text {
  display: none;
}
