.navbar {
  /*  un navbar vertical pegado a la izquierda*/
  position: fixed !important;
  display: flex !important;
  flex-direction: column !important;

  left: 0;
  bottom: 50%;
  transform: translateY(50%);

  /*  colores */

  background-color: var(--menu);
  border-radius: 1rem;
}
.menu {
  flex-direction: column !important;
}

.menuContainer {
  flex-direction: column;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
}
.link:hover {
  background-color: var(--botones);
  color: var(--letra);
  .text {
    display: block;
    overflow: wrap;
  }
}

.logo {
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
.text {
  display: none;
}
