.navbar {
  background-color: gray;
  flex-direction: column !important;
  height: 100%;
  position: fixed !important;
  text-align: center;
  z-index: 2;
}

.navbar:hover .text {
  display: flex;
  align-items: center;
}

.menuContainer {
  flex-direction: column;
}
.menu {
  flex-direction: column !important;
}
.link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row;
}
.link:hover {
  background-color: rgb(63, 106, 185);
  color: white;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.logo {
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}
.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
.text {
  display: none;
}
