.botonContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 0.75rem;
  bottom: 2rem;
  right: 2rem;
}
.botonFlotante * {
  fill: none;
  border-radius: 1rem;
}
.botonWhatsapp * {
  fill: none;
  border-radius: 1rem;
}
