.datosYo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: animationText ease 2s;
}
.container {
  background: var(--fondo);
}
.contenedorImagen {
  position: relative;
  height: 300px;
  background-color: white;
  animation: animationImagen ease 2s;
  border-radius: 1.5rem;
}
.imagen {
  border-radius: 1.5rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 3rem;
}
@keyframes animationImagen {
  0% {
    opacity: 0;
    margin-top: 100%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}
@keyframes animationText {
  0% {
    opacity: 0;
    margin-top: -100%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}
@media screen and (max-width: 768px) {
  .datosYo {
    width: 100%;
  }
  .row {
    justify-content: center;
  }
}
